@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

:root {
    --neon-text-color: rgb(255, 94, 0);
    --neon-border-color: rgb(0, 57, 107);
}

.logo {
    font-size: 75px;
    display: flex;
    padding: 4rem 6rem 5.5rem;
    color: #fff;
    text-transform: uppercase;
    border-radius: 2rem;
    animation: flicker 1.5s infinite alternate;
    border: 0.4rem solid #fff;
}

.logo::-moz-selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
  }
  
  .logo::selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
  }
  
  .logo:focus {
    outline: none;
  }

  @keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);
        
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}
